.topbody
{
  /*
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(214,211,206,1) 50%);
  grey-white
  background gradient color for the top
  */
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(222,207,181,1) 50%);
}
.brownbar
{
  /* brown bar for the top of the page */
  height:5px; clear:both;
  background: rgb(131,104,83);
}
